# 启动模式 debug/release
mode: debug

database:
  type: mysql
  mysql:
    dsn: root:password@tcp(127.0.0.1:3306)/cloudcat?charset=utf8mb4&collation=utf8mb4_unicode_ci&parseTime=True&loc=Local&multiStatements=true
    prefix: cat_
#  sqlite:
#    file: cloudcat.db

kvDb:
  type: redis
  redis:
    addr: localhost:6379
    password:
    db: 0
#  sqlite:
#    file: cloudcat.db

# 缓存redis
cache:
  type: redis
  redis:
    addr: localhost:6379
    password:
    db: 1
#  sqlite:
#    file: cloudcat.db

# 监听地址
addr: :8080
